<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a New Campground</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="name" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" placeholder="price" min="0.00" step="0.01">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="location" required>
                </div>
                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input id="1" style="" class="form-control" type="text" name="image1" placeholder="image 1 url">
                    <input id="2" style="display: none" class="form-control" type="text" name="image2" placeholder="image 2 url">
                    <input id="3" style="display: none" class="form-control" type="text" name="image3" placeholder="image 3 url">
                    <div class="btn-group">
                        <button id="b1" onclick="changeTo1()" type="button" name="image1" class="btn btn-primary btn-xs">Image 1</button>
                        <button id="b2" onclick="changeTo2()" type="button" name="image2" class="btn btn-primary btn-xs">Image 2</button>
                        <button id="b3" onclick="changeTo3()" type="button" name="image3" class="btn btn-primary btn-xs">Image 3</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
                <div class="form-group back_btn">
                    <a class="btn btn-xs btn-info" href="/campgrounds">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function changeTo1() {
        document.getElementById("1").style = "";
        document.getElementById("2").style = "display:none";
        document.getElementById("3").style = "display:none";
    }
        function changeTo2() {
        document.getElementById("1").style = "display:none";
        document.getElementById("2").style = "";
        document.getElementById("3").style = "display:none";
    }
        function changeTo3() {
        document.getElementById("1").style = "display:none";
        document.getElementById("2").style = "display:none";
        document.getElementById("3").style = "";
    }
</script>
<% include ../partials/footer %>